<nav id="header">
    <form method="POST" action="/users/login" id="login">
        <input type="text" name="userName" placeholder="User name">
        <input type="password" name="password" placeholder="Password">
        <button id="btnLogin">login</button>
    </form>

    <form method="POST" action="/users/login" id="register">
        <input type="text" name="userName" placeholder="New User">
        <input type="password" name="password1" placeholder="Password 1">
        <input type="password" name="password2" placeholder="Password 2">
        <button id="btnLogin">register</button>
    </form>


</nav>